<div class="flex h-screen">
    <div class="w-96 mx-auto flex flex-col bg-black p-4 rounded-lg text-white m-auto">
        <img src="../../../assets/logo-rect.png" alt="My Brewery logo">
        <h1 class="mb-4 mt-2 text-xl text-center font-semibold">Create an account and start creating your own beverages right now!</h1>
        <mb-login-button routerLink="/beer">
            <i class="fab fa-google"></i>&nbsp;Register with Google
        </mb-login-button>

        <a routerLink="/login" class="text-sm text-center mt-4 py-2">Do you have an account? Sign in</a>
    </div>
</div>