<nav class="h-screen fixed bg-black rounded-r md:rounded-r-lg text-primary md:w-72 sm:w-48 w-16 overflow-hidden  flex-col">
    <!--  min-h-screen -->
    <div class="md:mx-4 sm:p-2 md:p-6 pt-4">
        <img src="../../../assets/logo-rect.png" alt="Logo My Brewery" class="w-full" />
    </div>

    <div class="mt-10"></div>

    <div>
        <mb-sidebar-item routerLink="/beer" iconClassName="fas fa-beer">My beers</mb-sidebar-item>
        <mb-sidebar-item routerLink="/recipies" iconClassName="fas fa-book">My recipies</mb-sidebar-item>
    </div>
</nav>