
<div class="relative bg-black dark:bg-gray-800  rounded-r-lg text-primary">
    <div class="h-screen flex-col sm:flex-row sm:justify-around">
        <div class="w-72">
            <div class="mx-4 text-3xl font-bold p-6 pt-4">
                <!-- My Brewery -->
                <img src="../../../assets/logo-rect.png" alt="Logo My Brewery" class="w-full" />
            </div>
            <nav class="mt-10 px-6 ">
                <a class="hover:bg-primary-dark hover:text-white flex items-center p-2 my-6 rounded-lg" routerLink="/beer" routerLinkActive="active">
                    <span class="mx-4 text-lg font-normal">
                        My beers
                    </span>
                    <span class="flex-grow text-right">
                    </span>
                </a>
                <a class="hover:bg-primary-dark hover:text-white flex items-center p-2 my-6 rounded-lg" routerLink="/recipies" routerLinkActive="active">
                    <span class="mx-4 text-lg font-normal">
                        My recipies
                    </span>
                    <span class="flex-grow text-right">
                    </span>
                </a>
            </nav>
        </div>
    </div>
</div>
